Redhotminute.Mvx.Plugin.Style.Droid/obj
Redhotminute.Mvx.Plugin.Style.Touch/obj
Redhotminute.Mvx.Plugin.Style/obj
Samples/Redhotminute.Mvx.Plugin.Style.SampleApp/Droid/obj
Samples/Redhotminute.Mvx.Plugin.Style.SampleApp/Redhotminute.Mvx.Plugin.Style.SampleApp/obj
Samples/Redhotminute.Mvx.Plugin.Style.SampleApp/iOS/obj
Samples/Redhotminute.Mvx.Plugin.Style.SampleApp/Redhotminute.Mvx.Plugin.Style.SampleApp.Fonts/obj
Samples/Redhotminute.Mvx.Plugin.Style.SampleApp/Redhotminute.Mvx.Plugin.Style.Tests/obj
*.user
Redhotminute.Mvx.Plugin.Style.Tests/obj
UserPrefs.xml
.vs/Redhotminute.Mvx.Plugin.Style/xs
Samples/Redhotminute.Mvx.Plugin.Style.SampleApp/.vs/Redhotminute.Mvx.Plugin.Style.SampleApp/xs

bin/
obj/
Packages/
*.DS_Store
Resource.designer.cs
.vs
