Mvx.Plugin.Style.Droid/obj
Mvx.Plugin.Style.Touch/obj
Mvx.Plugin.Style/obj
Samples/Mvx.Plugin.Style.SampleApp/Droid/obj
Samples/Mvx.Plugin.Style.SampleApp/Mvx.Plugin.Style.SampleApp/obj
Samples/Mvx.Plugin.Style.SampleApp/iOS/obj
Samples/Mvx.Plugin.Style.SampleApp/Mvx.Plugin.Style.SampleApp.Fonts/obj
Samples/Mvx.Plugin.Style.SampleApp/Mvx.Plugin.Style.Tests/obj
*.user
Mvx.Plugin.Style.Tests/obj
UserPrefs.xml
.vs/Mvx.Plugin.Style/xs
Samples/Mvx.Plugin.Style.SampleApp/.vs/Mvx.Plugin.Style.SampleApp/xs

bin/
obj/
Packages/
*.DS_Store
.vs
