<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSBuild.Sdk.Extras" version="1.5.4" targetFramework="xamarinios10" developmentDependency="true" />
  <package id="MvvmCross" version="6.0.1" targetFramework="xamarinios10" />
  <package id="MvvmCross.Plugin.Color" version="6.0.1" targetFramework="xamarinios10" />
</packages>